@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(150deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #292b2e;
}

body::-webkit-scrollbar-thumb {
  background-color: #171a1d;
  border-radius: 10px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: linear-gradient(150deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  backdrop-filter: blur(10px);
  border-bottom: #090979 solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;
  z-index: 1000;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar .logo img {
  width: 140px;
  height: auto;
  margin-right: 10px;
}

.navbar #menu-icon {
  font-size: 36px;
  color: #fff;
  cursor: pointer;
  display: none;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-right: 25px;
  transition: color 0.3s ease;
}

.navbar ul li:hover a {
  color: #ffb742;
}

.navbar ul li:last-child a {
  margin: 0;
}

.hire-btn {
  background: #090979;
  color:#ffb742;
  padding: 6px 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.4s ease;
  box-shadow: #00003b 0px 2px 10px;
}

.hire-btn:hover {
  background: #ffb742;
  color: #090979;
}

.main {
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.main h4 {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  margin-top: 20px;
}

.main p.title {
  font-size: 44px;
  font-weight: 600;
  color: #ffb742;
  margin-top: 8px;
}

.main p.subtitle {
  font-size: 16px;
  color: #ccc;
  margin-top: 20px;
}

.main img {
  width: auto;
  height: auto;
}

footer {
  position: relative;
  background: rgba(2, 0, 36, 1);
  padding: 80px 50px 40px;
  margin-top: 100px;
}

footer .start {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  background-color: #00a2ff;
  color: #00003b;
  padding: 30px 25px;
  border-radius: 15px;
  width: 70%;
  top: -16%;
  left: 15%;
}

footer .start p {
  font-size: 13px;
  width: 35%;
  color: #00003b;
}

footer .start button {
  background: #090979;
  border: 1px solid #090979;
  color: #ffb742;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 100px;
  transition: all 0.4s ease;
  box-shadow: #00003b 0px 2px 10px;
}

footer .start button:hover {
  color: #090979;
  background-color: #ffb742;
  border-color: #ffb742;
}

footer .cols {
  display: flex;
  align-items: start;
}

footer .cols .about-col {
  flex: 3;
}

footer .cols .about-col h3 {
  color: #ffb742;
  margin-bottom: 20px;
}

footer .cols .about-col p {
  color: #ccc;
  font-size: 13px;
}

footer .cols .links-col {
  flex: 3;
}

footer .cols .links-col h4,
footer .cols .news-col h4 {
  color: #fff;
  margin-bottom: 20px;
}

footer .cols .links-col a {
  display: block;
  text-decoration: none;
  color: #7b7b7b;
  font-size: 14px;
  line-height: 26px;
  transition: color 0.3s ease;
}

footer .cols .links-col a:hover {
  color: #ffb742;
}

footer .cols .news-col {
  flex: 3;
}

footer .cols .news-col p {
  color: #7b7b7b;
  font-size: 15px;
}

footer .cols .news-col form {
  width: 100%;
  margin-top: 20px;
  position: relative;
}

footer .direitos {
  margin-top: 30px;
  text-align: center;
  color: #7b7b7b;
  font-size: 12px;
}

@media screen and (max-width: 1100px) {

  footer {
    margin-top: 150px;
  }

  footer .start {
    width: 90%;
    left: 5%;
    top: -20%;
  }

  footer .cols {
    flex-wrap: wrap;
  }

  footer .cols .about-col {
    flex-basis: 50%;
  }

  footer .cols .links-col {
    flex-basis: 50%;
  }

  footer .cols .news-col {
    flex-basis: 50%;
  }

}

@media screen and (max-width: 780px) {

  .navbar button {
    display: none;
  }

  .main h4 {
    font-size: 24px;
  }

  .main p.title {
    font-size: 36px;
  }

  .main p.subtitle {
    font-size: 14px;
  }

}

@media screen and (max-width: 700px) {

  .navbar {
    justify-content: space-between;
    padding: 0 20px;
  }

  .navbar ul li a {
    font-size: 16px;
    display: block;
    margin: 0;
  }

  .navbar #menu-icon {
    color: #ffb742;
    display: block;
  }

  .navbar ul {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: #00003b;
    border-bottom: #090979 solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    display: none; 
    transition: 0.3s;
  }

  .navbar ul.active {
    display: flex;
  }

  .main {
    margin-top: 120px;
    height: 570px;
    justify-content: center;
  }

  .main h4 {
    font-size: 20px;
  }

  .main p.title {
    font-size: 45px;
  }

  .main p.subtitle {
    font-size: 16px;
  }

  .main img {
    margin-top: 40px;
    width: 450px;
    height: auto;
  }

  footer .start {
    top: -8%;
  }

  footer .start p {
    display: none;
  }

  footer .cols .about-col {
    flex-basis: 100%;
    margin-bottom: 40px;
  }

  footer .cols .links-col {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 480px) {

  .main p.title {
    font-size: 18px;
  }

  .main p.subtitle {
    font-size: 10px;
  }

}